.App{
  margin-left: 160px;

}
h5{
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 24px;
}
.first_line {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
#author{
  width: 24px;
  height: 24px;
}
h1{
  font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 250%;
    margin-top: 88px;
    margin-bottom: 64px;
}
.Body{
  display: flex;
  flex-direction: row;
  gap: 162px;
}
#img{
  width: 265px;
  height: 265px;
  margin-right: 160px;
  margin-bottom: 90px;
}
.left_side{
  width: 693px;
}
.footer{
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: end;
  margin-top: 788px;
  margin-right: 172px;
}